<ion-header>
  <ion-toolbar>
    <ion-title>Buscar CEP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="buscarEndereco()">
    <ion-item>
      <ion-label position="floating">CEP</ion-label>
      <ion-input type="text" [(ngModel)]="cep" name="cep" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Buscar</ion-button>
  </form>

  <ion-item>
    <ion-label>Endereço:</ion-label>
    <ion-input type="text" [(ngModel)]="endereco.logradouro" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Bairro:</ion-label>
    <ion-input type="text" [(ngModel)]="endereco.bairro" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Cidade:</ion-label>
    <ion-input type="text" [(ngModel)]="endereco.localidade" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>UF:</ion-label>
    <ion-input type="text" [(ngModel)]="endereco.uf" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Ibge:</ion-label>
    <ion-input type="text" [(ngModel)]="endereco.ibge" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Gia:</ion-label>
    <ion-input type="text" [(ngModel)]="endereco.gia" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>DDD:</ion-label>
    <ion-input type="text" [(ngModel)]="endereco.ddd" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Siafi:</ion-label>
    <ion-input type="text" [(ngModel)]="endereco.siafi" readonly></ion-input>
  </ion-item>
</ion-content>
